body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
.video-container {
  text-align: center;  /* centers the video */
  margin: 20px auto;
}

.video-container video {
  width: 300px;        /* adjust size as you like */
  max-width: 90%;      /* mobile-friendly */
  height: auto;
  display: inline-block;
  border-radius: 12px; /* optional for rounded corners */
}
